
<div class="mb-5">
  <div class="form">
    <div class="font">
      <h5>Add a Chocolate</h5>
      <form (ngSubmit)="onsubmit()">
        <div>
            <label>Image: </label>
            <input type="file"  class="form-control" [(ngModel)]= "model.image" [ngModelOptions]="{standalone: true}" id="image" >
        </div>
        <div>
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Name"  [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" id="name">
        </div>
        <div>
        <label>Brand: </label>
        <input type="text" placeholder="Brand"   class="form-control" [(ngModel)]="model.brand" [ngModelOptions]="{standalone: true}" id="brand">
        </div>
        <div>
        <label>Price: </label>
        <input type="number" placeholder="Price"  class="form-control" [(ngModel)]="model.price" [ngModelOptions]="{standalone: true}" id="price">
        </div>
        <div>
        <label>Stock: </label>
        <input type="number" placeholder="Stock"  class="form-control" [(ngModel)]="model.stock" [ngModelOptions]="{standalone: true}" id="stock">
        </div>
        <div>
        </div>
        <div class="mt-3">
        <button class="btn btn-outline-dark">Send</button>
        </div>
    </form>
  </div>
  </div>
  </div>
