
<table class="table">
  <thead>
      <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Eliminar</th>
      </tr>
  </thead>
  <tbody>
      <!-- directiva icecream se recorre con ngfor-->
      <tr *ngFor=" let chocolate of chocolates" [ngClass]="{'price': chocolate.price < 200}">
          <td><img width="100" class="img-thumbnail"
              [src]="chocolate.image" [alt]="chocolate.name"></td>
          <td>{{chocolate.name}}</td>
          <td>{{chocolate.brand}}</td>
          <!--Ejemplo de pipe currency para los precios-->
          <td>{{chocolate.price | currency}}</td>
          <div class="divnostock"><td class="td"><span *ngIf="chocolate.stock == 0 " class="nostock">No hay stock</span></td></div>
          <td><button class="btn btn-outline-danger" (click)="deletechocolate(chocolate)">Eliminar</button></td>
      </tr>
  </tbody>
</table>



