
.price {
  background-color: rgb(254, 233, 255)
}

.font {
  font: italic 1.2em "Fira Sans", serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.31);
}
.stock0{
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(255, 170, 170);
}
