.font {
  font-family:'Times New Roman', Times, serif
}
.ig , .fb {
  color: black;
  padding: 7px;
  border-radius: 20px;
  border: 2px solid black;
  text-decoration:none;

}
.follow {
  padding: 10px;
}
.footer , .h1{
  margin-top: 20px;
}
.nav {
  margin-bottom: 20px;
}

