<div class="font">
<section class="cards">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/img/Doscorazones.jpg" alt="Dos corazones">
    <div class="card-body">
      <h5 class="card-title">Dos corazones</h5>
      <p class="card-text">Description brought from the database</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/img/ferrerorocher.jpg" alt="Ferrero rocher">
    <div class="card-body">
      <h5 class="card-title">Ferrero Rocher</h5>
      <p class="card-text">Description brought from the database</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/img/milka.jpg" alt="Milka">
    <div class="card-body">
      <h5 class="card-title">Milka</h5>
      <p class="card-text">Description brought from the database</p>
    </div>
  </div>
  </section>
</div>
