<div class="font">
<section class="cards">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/img/Doscorazones.jpg" alt="Dos corazones">
    <div class="card-body">
      <h5 class="card-title">Dos corazones</h5>
      <p class="card-text">
        Dos corazones es un exquisito bocadito relleno bañado con el más rico chocolate con leche Felfort. Es ideal para compartir de a dos y disfrutar sus más románticas poesías autoadhesivas coleccionables</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/img/ferrerorocher.jpg" alt="Ferrero rocher">
    <div class="card-body">
      <h5 class="card-title">Ferrero Rocher</h5>
      <p class="card-text">
        Ferrero Rocher, una experiencia de sabor única con capas contrastantes: avellana crujiente en el centro, delicioso relleno de crema de avellanas, galleta crujiente cubierta con chocolate y avellanas finamente tostadas.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/img/milka.jpg" alt="Milka">
    <div class="card-body">
      <h5 class="card-title">Milka</h5>
      <p class="card-text">
        Chocolate con leche con almendras. Con aromatizante idéntico a la vainilla</p>
    </div>
  </div>
  </section>
</div>
