<div class="font">
<section class="cards">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.ibb.co/vBFHHVH/Doscorazones.jpg" alt="Dos corazones">
    <div class="card-body">
      <h5 class="card-title">Dos corazones</h5>
      <p class="card-text">
  Dos corazones is an exquisite filled sandwich bathed in the richest Felfort milk chocolate. It is ideal to share for two and enjoy your most romantic collectible self-adhesive poems</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"  src="https://i.ibb.co/NjN3TWt/ferrerorocher.jpg" alt="ferrerorocher" alt="Ferrero rocher">
    <div class="card-body">
      <h5 class="card-title">Ferrero Rocher</h5>
      <p class="card-text">
        Ferrero Rocher, a unique taste experience with contrasting layers: crunchy hazelnut in the center, delicious hazelnut cream filling, crunchy biscuit covered with chocolate and finely roasted hazelnuts.</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.ibb.co/3z47CjW/milka.jpg" alt="milka">
    <div class="card-body">
      <h5 class="card-title">Milka</h5>
      <p class="card-text">
        Milka is a milk chocolate with almonds. With flavoring identical to vanilla</p>
    </div>
  </div>

